<mat-table [dataSource]="sessions">
  <ng-container matColumnDef="week">
    <mat-header-cell *matHeaderCellDef>{{headers[0]}}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.week}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="session">
    <mat-header-cell *matHeaderCellDef>{{headers[1]}}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.session}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="reading">
    <mat-header-cell *matHeaderCellDef>{{headers[2]}}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.reading}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="due">
    <mat-header-cell *matHeaderCellDef>{{headers[3]}}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.due}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="topics">
    <mat-header-cell *matHeaderCellDef>{{headers[4]}}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.topics}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="resources">
    <mat-header-cell *matHeaderCellDef>{{headers[5]}}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.resources}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="programs">
    <mat-header-cell *matHeaderCellDef>{{headers[6]}}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.programs}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columnIds"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnIds;"></mat-row>
</mat-table>
