<div class="main">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>
          Form built using Reactive Form API
        </h2>
      </mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <form [formGroup]="formModel" (ngSubmit)="onSubmit()" novalidate>
        <mat-form-field class="full-width">
          <input matInput placeholder="Username" formControlName="username">
          <mat-error *ngIf="formModel.hasError('required', 'username')">
            Username is required
          </mat-error>
        </mat-form-field>
        <mat-input-container class="full-width">
          <input matInput placeholder="SSN" formControlName="ssn">
          <mat-error *ngIf="formModel.hasError('ssn','ssn')">
            Enter a valid SSN
          </mat-error>
        </mat-input-container>
  
        <div formGroupName="passwordsGroup">
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" type="password" formControlName="password">
            <mat-error *ngIf="formModel.hasError('required', 'passwordsGroup.password')">
              Password is required
            </mat-error>
            <mat-error *ngIf="formModel.hasError('minlength', 'passwordsGroup.password')">
              Password must be at least 5 characters long
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Confirm password" type="password" formControlName="pconfirm">
          </mat-form-field>
          <mat-error *ngIf="formModel.hasError('equal', 'passwordsGroup')">
            Passwords must match
          </mat-error>
        </div>
  
        <div class="full-width">
          <button mat-raised-button color="primary" class="right">
            <mat-icon>save</mat-icon> Submit
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <pre>
    {{password.valid}}
  </pre>
  <pre>
      {{formModel.value | json}}
  </pre>
</div> 