mat-card {
    /*max-width: 80%;*/
    margin: 2em auto;
    text-align: center;
  }
  
  h1 {
      padding-left: 10px;
  }
  
  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }