<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to Contact List App!</h1>
    <p>
      This is a simple contacts list application that allows you to keep track 
      of the name and phone number of the people you care about the most. 
    </p>
    <p>
      You display your list of contacts by clicking the contact link above or the button below.
    </p>
    <p><a class="btn btn-primary btn-lg" routerLink="/contact" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Edit Contact</h2>
      <p>
        Clicking on the edit icon to the right of a displayed contact gives you
        the opportunity to update the information for that contact.
      </p>
      <p><a class="btn btn-secondary" routerLink="/contact" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Delete Contact</h2>
      <p>
        Clicking on the delete icon to the right of a displayed contact allows you
        to remove that contact from your list.
      </p>
      <p><a class="btn btn-secondary" routerLink="/contact" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Add Contact</h2>
      <p>
        You can also add a new contact by clicking on the contact link above.
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

